.paragraphs-base-columns-2 {
  columns: 2;
}

.paragraphs-base-columns-3 {
  columns: 3;
}

.paragraphs-base-inline-blocks > * > .field__item {
  display: inline-block;
}

.paragraphs-base-table-row {
  display: table;
  width: 100%;
}

.paragraphs-base-table-row > * {
  display: table-row;
}

.paragraphs-base-table-row > * > .field__item {
  display: table-cell;
}
